/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
/*header start*/
	.logo{
		width: 150px;
	}
	.menu ul li a:hover {
	    background-color: transparent;
	    color: #f15c5c !important;
	}
	.d_user_ul {
	    top: 116%;
	    left: 0;
		}
	.d_search_ul {
	    top: 116%;
	    left: 0;
	}
	.row {
		margin-right: 0;
    	flex-wrap: inherit;
	}
	.d_search_ul {
    	padding: 10px 70px 10px 30px;
	} 
	.f_btn {
    	margin-top: 2px;
	}
/*header end*/
 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
/*header start*/
	.menu ul li a:hover {
	    background-color: transparent;
	    color: #f15c5c !important;
	}
	.d_user_ul {
	    top: 116%;
	    left: 0;
	}
	.d_search_ul {
    	top: 116%;
    	left: 0;
	}
	.f_text {
		width: 85%;
	    display: inline !important;
	}
	.row {
		margin-right: 0;
    	flex-wrap: inherit;
	}
	.d_search_ul {
    	padding: 10px 70px 10px 30px;
	} 
	.f_btn {
    	margin-top: 2px;
	}
/*header end*/
 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
/*header start*/
	.menu ul li a:hover {
	    background-color: transparent;
	    color: #f15c5c !important;
	}
	.d_user_ul {
	    top: 116%;
	    left: 0;
	}
	.d_search_ul {
	    top: 116%;
	    left: 0;
	}
/*header end*/

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

 }

/*Extra Extra large devices (Extra large desktops, 1400px and up)*/
@media (min-width: 1400px) { 

 }
