/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    /*header start*/
    .logo {
        width: 150px;
    }
    .menu ul li a:hover {
        background-color: transparent;
        color: #f15c5c !important;
    }
    .d_user_ul {
        top: 116%;
        left: 0;
    }
    .d_search_ul {
        top: 116%;
        left: 0;
    }
    /*.row {
		margin-right: 0;
    	flex-wrap: inherit;
	}*/
    .d_search_ul {
        padding: 10px 70px 10px 30px;
    }
    .f_btn {
        margin-top: 2px;
    }
    /*header end*/
    /*banner start*/
    .b_content h1 {
        margin-top: 90px;
        margin-bottom: 120px;
        font-size: 34px;
    }
    .scroll p {
        font-size: 16px;
    }
    .scroll i {
        font-size: 20px;
    }
    /*banner end*/
    /*kid1 start*/
    .kid1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .c_h1 {
        font-size: 25px;
    }
    .k1_image {
        text-align: center;
    }
    .k1_content {
        text-align: center;
    }
    .discovery {
        margin-top: 20px;
        text-align: center;
        display: inline;
    }
    .k1_content h2 {
        margin-top: 15px;
    }
    .k1_content hr {
        margin: 0 auto;
        width: 210px;
    }
    .k1_content p {
        margin-top: 20px;
    }
    .k1_image img {
        margin-top: 30px;
    }
}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    /*header start*/
    .menu ul li a:hover {
        background-color: transparent;
        color: #f15c5c !important;
    }
    .d_user_ul {
        top: 116%;
        left: 0;
    }
    .d_search_ul {
        top: 116%;
        left: 0;
    }
    .f_text {
        width: 85%;
        display: inline !important;
    }
    /*.row {
		margin-right: 0;
    	flex-wrap: inherit;
	}*/
    .d_search_ul {
        padding: 10px 70px 10px 30px;
    }
    .f_btn {
        margin-top: 2px;
    }
    /*header end*/
    /*banner start*/
    .b_content h1 {
        margin-top: 140px;
        margin-bottom: 170px;
        font-size: 38px;
    }
    .scroll i {
        font-size: 30px;
    }
    /*banner end*/
    /*kid1 start*/
    .kid1 {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .k1_image {
        text-align: center;
    }
    .k1_content {
        text-align: center;
    }
    .discovery {
        margin-top: 20px;
        text-align: center;
        display: inline;
    }
    .k1_content h2 {
        margin-top: 40px;
    }
    .k1_content hr {
        margin: 0 auto;
        width: 210px;
    }
    .k1_content p {
        margin-top: 20px;
    }
    .k1_image img {
        margin-top: 30px;
    }
}


/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    /*header start*/
    .menu ul li a:hover {
        background-color: transparent;
        color: #f15c5c !important;
    }
    .d_user_ul {
        top: 116%;
        left: 0;
    }
    .d_search_ul {
        top: 116%;
        left: 0;
    }
    /*header end*/
    /*banner start*/
    .b_content h1 {
        margin-top: 140px;
        margin-bottom: 170px;
        font-size: 38px;
    }
    /*banner end*/
    /*kid1 start*/
    .kid1 {
        margin-top: 70px;
        margin-bottom: 70px;
    }
    .k1_image {
        text-align: center;
    }
    .k1_content {
        text-align: center;
    }
    .discovery {
        margin-top: 20px;
        text-align: center;
        display: inline;
    }
    .k1_content h2 {
        margin-top: 40px;
    }
    .k1_content hr {
        margin: 0 auto;
        width: 210px;
    }
    .k1_content p {
        margin-top: 20px;
    }
}


/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
    /*banner start*/
    .b_content h1 {
        margin-top: 180px;
        margin-bottom: 250px;
    }
    /*banner end*/
    /*kid1 start*/
    .kid1 {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1399.98px) {
    /*banner start*/
    .b_content h1 {
        margin-top: 190px;
        margin-bottom: 300px;
    }
    /*banner end*/
    /*kid1 start*/
    .kid1 {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


/*Extra Extra large devices (Extra large desktops, 1400px and up)*/

@media (min-width: 1400px) and (max-width: 1599.98px) {
    /*kid1 start*/
    .kid1 {
        margin-top: 90px;
        margin-bottom: 90px;
    }
}


/*Extra Extra Extra large devices (Extra large desktops, 1800px and up)*/

@media (min-width: 1800px) {
    /*banner start*/
    .b_content h1 {
        margin-top: 450px;
        margin-bottom: 380px;
        font-size: 56px;
    }
    .scroll p {
        font-size: 32px;
    }
    .scroll i {
        font-size: 50px;
    }
    /*banner end*/
}