/*
font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Sniglet', cursive;
*/
/*common start*/
body{
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #333333;
}
/*common end*/
/*header start*/
header{
	background-color: #ffd338;
}
.menu ul li a{
	font-size: 18px;
	font-weight: 700;
	color: white !important;
	padding: 2px 20px !important;
	border-radius: 15px;
}
.menu ul li a:hover{
	background-color: #f05c5c;
}
.d_user_a, .d_search_a{
	color: white;
}
.d_user_a:hover, .d_search_a:hover{
	color: #f15c5c;
}
.d_user_a:focus, .d_search_a:focus{
	box-shadow: 0 0 0 0.20rem rgb(241 92 92 / 53%);
}   
.d_user_ul, .d_search_ul{
	background-color: #ffd338;
}
.d_user_ul{

} 
.d_user_ul{
    top: 161%;
    left: -115px;
}
.d_search_ul{
	min-width: 350px;
	top: 161%;
    left: -300px;
    padding-left: 10px;
    padding: 10px 22px;	
} 
.d_search_ul:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(241 92 92);
}
.f_text{
    box-shadow: 0 0 0 0.25rem rgb(241 92 92 / 20%);
}
.f_text:focus{
	border-color: #f15c5c !important;
    box-shadow: 0 0 0 0.25rem rgb(241 92 92 / 53%);
	border-color: #f15c5c !important;	
}
.f_btn {
    border-radius: 5px;
    border-color: #f15c5c !important;
    color: #f15c5c !important;
    box-shadow: 0 0 0 0.25rem rgb(241 92 92 / 53%);
}
.f_btn:focus{
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgb(241 92 92 / 53%);
}
/*header end*/